<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>kakao Map</title>
		<link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
		<!-- Bulma Version 0.8.x-->
		<link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/forum.css">
	</head>
	<body>
	<nav class="navbar is-white topNav">
			<div class="container">
				<div class="navbar-brand">
					<div class="navbar-burger burger" data-target="topNav">
						<span></span>
						<span></span>
						<span></span>
					</div>	 
				</div>
				<div id="topNav" class="navbar-menu">
					<div class="navbar-start">
						<a class="navbar-item" th:href="@{/}">Home</a>
						<a class="navbar-item" th:href="@{/board/list}">Board</a>
						<a class="navbar-item" th:href="@{/adminpage}">AdminPage</a>
					</div>
					<div class="navbar-end">
						<div class="navbar-item">
							<div class="field is-grouped">
								<p class="control" sec:authorize="!isAuthenticated()">
									<a class="button is-small"  th:href="@{/member/join}">
										<span class="icon">
											<i class="fa fa-user-plus"></i>
										</span>
										<span>
											Join
										</span>
									</a>
								</p>
								<p class="control" sec:authorize="!isAuthenticated()">
									<a class="button is-small is-info is-outlined" th:href="@{/login}">
										<span class="icon">
											<i class="fa fa-user"></i>
										</span>
										<span>Login</span>
									</a>
								</p>
								 <p class="control" sec:authorize="isAuthenticated()">
                            <a class="button is-small"  th:href="@{/member/mydata}">
                              <span class="icon">
                                 <i class="fa fa-user"></i>
                              </span>
                                <span>
                                 	내 정보
                              </span>
                            </a>
                        </p>
								  <form th:action="@{/logout}" method="post">
                     <p class="control" sec:authorize="isAuthenticated()">
										<button class="button is-small" type="submit">Logout</button>
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								</p>
						</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<article class="panel is-primary">
  <p class="panel-heading">
    API
  </p>
  <a class="panel-block is-active is-primary" th:href="@{/kakaomap}">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    KaoKao Map
  </a>
  <a class="panel-block" th:href="@{/kakaobooksearch}">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    KaKao Book Search
  </a>
</article>
		
		<section class="container">
			<div class="columns">
				<div class="column is-3">
					<a class="button is-primary is-block is-alt is-large" >Kakao Map API</a>
				</div>
				</div>
		</section>
	 <div id="map" style="width:1000px;height:500px; margin-left: 17%; margin-top: 1%;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a40bb6de00ec0d6317f0ff2a4e52076a"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script> 
		<footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<div class="columns is-mobile is-centered">
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
								<div class="tags has-addons">
									<a href="https://github.com/" class="tag is-link">The source code</a>
									<span class="tag is-light">GitHub &nbsp;<i class="fa fa-github"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script async type="text/javascript" src="../js/bulma.js"></script>
	</body>
</html>